@media(min-width:786px){.column div{display:none;}body{margin:0px;font-family:Helvetica;line-height:1.5;}
#header,#footer{display:flex;}#header{background-color:#002043;color:#660066;font-size:200%;}#footer{
background:#FFFFCC;color:#660066;font-size:200%;}#main{display:flex;min-height:600px;background:#c5ecff;color:black;
font-size:150%;}#main1{display:flex;min-height:600px;background:white;color:black;font-size:150%;}#main2{
display:flex;min-height:600px;background:#ecb9f5;color:black;font-size:150%;}#header1{flex:2;text-align:center;
margin-top:10px;min-height:10px;padding:1px;}.link,.foot{flex:3;text-align:center;}#header2{display:flex;
flex:10;align-items:center;}#sidebar{flex:2;padding:5%;}#content{flex:10;padding:5%;}input,textarea{
width:5o%;}.containers{background-color:#c7cffd;text-align:center;margin-top:15px;min-height:400px;padding:5px;}
.column {float: left;width: 25%;padding: 10px;}.column img {opacity: 0.8;cursor: pointer;}.column img:hover {opacity: 1;
}.row:after {content: "";display: table;clear: both;}.container {position: relative;display: none;
}#imgtext {position: absolute;bottom: 15px;left: 15px;color: white;font-size: 20px;}.closebtn {position: absolute;
top: 10px;right: 15px;color: white;font-size: 35px;cursor: pointer;}}.nci{font-weight: bold;}.aboutfooter{
font-family: 'Times New Roman', Times, serif;font-weight: bold;font-style: italic;font-size: larger;}
.aboutStyle{font-size: larger;font-family: Georgia, 'Times New Roman', Times, serif;font-style: italic;font-weight: bolder;}
#tablecolor{background-color: #d0d8e7;}#footerLists{background-color: #d0d8e7;}footer{background-color: #ecede3;}
#cart{background-color:#d0d8e7;}#fruits,#vegetables,#meat,#dairy,#snacks{float:left;padding:15px;}